.orb {

    position: absolute;

    width: 120px;
    height: 120px;

    border-radius: 50%;

    background:
        radial-gradient(rgba(6, 182, 212, .3),
            transparent);

    right: -20px;
    bottom: -20px;

    animation:
        floatOrb 6s ease-in-out infinite;
}

@keyframes floatOrb {

    0%,
    100% {
        transform:
            translateY(0);
    }

    50% {
        transform:
            translateY(-15px);
    }

}